:root{
    --blue: #006bbb;
    --lightblue: #30a0e0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100;
}
html {
    height: 100%;
}
body{
    background-color: antiquewhite;
    min-height: 100%;
}
.body >*{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
   
}
.header{
    grid-area: header;
}
.content-form{
    background-color: white;
    grid-area: contentform;

}
.footer-container{
    grid-area: footer;
    background-color: white;
    outline: 1px solid slategray;
    position: relative;
    z-index: 2;
}
.body{
    display: grid;
    gap: 0;
    grid-template: 
    "header header" 20vh 
    "contentform contentform" 100vh
    "footer footer" 20vh / 250px ; 
}
.dashboard{
    list-style: none;
 
}
.nav-bar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--blue);
    transition: all .5s ease;
    z-index: 3;
   
}
.nav-bar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: var(--lightblue);
}
.nav-bar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
    padding-left: 40px;
    border: 1px solid #ebebeb3f;
    transition: .3s;
}
.nav-bar ul li:hover a {
    padding-left: 50px;
}
.nav-bar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: var(--blue);
    border-radius: 5px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 30px;
    line-height: 70px;
    color: white;
    padding: 0px 25px;
    transition: all .5s;
    border-radius: 3px;
    position: fixed;
    z-index: 2;
}
label #cancel{
z-index: 1111;
left: -195px;
top: 17px;
font-size: 30px;
color: var(--lightblue);
padding: 4px 9px;
transition: all .5s ease;
position: fixed;
}
#check:checked ~ .nav-bar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;

}
.nav-bar header{
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
}
.header{
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue);
}
.header h1, h2{
    color: white;
}
footer h2 {
    color:rgb(73, 73, 73);
	padding-left: 16px;
    padding-top: 10px;
	margin-bottom: 12px;
	text-align: center;
}
footer ul {
	display: inline;
	gap: 8px;
	width: 80%;
	margin: auto;
	text-align: center;
}
.developers li {
    margin: 50px;
	display: inline;
	text-decoration: none;
	width: 100%;
	text-align: center;
	color: rgb(0, 0, 0);
}
.university-info {
    color: rgb(87, 85, 85);
	margin: auto;
	margin-top: 12px;
	width: 80%;
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
}

.responsive-btn-cont{
    display: none;
}
.form{
    display: flex;
    justify-content: center;
}
.form-box{
    width: 90vw;
    height: 80vh;
    background-color: white;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: auto;
    opacity: 60%;
    position: relative;
    z-index: 1;
}
.form_group{
    padding: 0 30px;
    width: 350px;
    position: relative;
    color: black;
}
.form_input{
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: black;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.form_label{
    padding: 0 30px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.9);
    transform-origin: top left;
    color: darkblue
}

@media screen and (min-width: 100px) and (max-width: 600px) {
	.responsive-btn-cont{
    width: 4rem;
    height: 4rem;
    bottom: 4vw;
    right: 4vw;
    padding: 0;
    border-radius: 6px;
    font-size: 40px;
    color: white;
    position: fixed;
    background-color: #034c85;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1111;
    }
    #checkresponsive{
        display: none;
        cursor: pointer;
    }
    #btn{
        display: none;
    }
    .responsive-btn-cont >*{
        cursor: pointer;
    }
	}